<div id="container">
    <div id="cards">
        <div class="card">
            <div class="title">
                <h2>35$/month</h2>
            </div>
            <hr>
            <br>
            <div class="list">
                <div class="item">
                    <p>Simple domain</p>
                    <img src="/PruebaAngular/src/assets/marca-de-verificacion.png">
                </div>
                
            </div>
            
        </div>
        <div class="card">
            <div class="title">
                <h2>35$/month</h2>
            </div>
            <hr>
            <br>
            <div class="list">
                <p>Simple domain</p>
            </div>
            
        </div>
    </div>
</div>
