@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h2{
    font-family: 'Anton';
    color: white;
    font-size: 2em;
}

#container{
    background-color: rgb(34, 34, 34);
    width: 100%;
    padding: 50px 0px;
}

#plans{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 2em;
}

#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    width: 300px;
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list{
    width: 100%;
    font-family: 'Helvetica';
    color: #ccc;
    
}

.item{
    display: flex;
    margin-bottom: 30px;
}

p{
    width: 100%;
    margin: 0px 20px;
}

.tick{
    float: right;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item svg{
    width: 20px;
    height: 20px;
}

.select{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Bebas Neue';
    font-weight: bold;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #333;
}

